<div class="row">
		<div class="col-md-12">
		  <div class="jumbotron center">
				<h1>
					Show List of Todo's
				</h1>
				<p>
					<%= link_to "Show Todo's", todos_path, class: "btn btn-danger btn-lg btn-xlarge" %>
				</p>
				</div>
				<div class="jumbotron center">
				<h1>
					Show List of Users
				</h1>
				<p>
					<%= link_to "Show Users", users_path, class: "btn btn-danger btn-lg btn-xlarge" %>
				</p>
			</div>
		</div>
		</div>
	