@import "bootstrap-sprockets";

// @import "bootstrap";
// using stylesheet slate.min.css from bootswatch.com

.center {
  text-align: center;
}

th {
    text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}